<html>
<body>
<h1>
    Welcome to KotlinJS
</h1>
<h3>Bla</h3>
<form action="add" method="post">
    <label for="name">Name</label>
    <input type="text" name="nm" placeholder="Enter Name">

    <label for="role">Role</label>
    <input type="text" name="rl" placeholder="Enter Role">
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>